.venv/
site/
docs/Buch Bayrische Nächte/Bavarian Nights.odt
docs/Bayerische Nächte/Geschichten/10_Der Geist des Buches/Der Geist des Buches.pptx
docs/Bayerische Nächte/Geschichten/10_Der Geist des Buches/Dessert_Ambience.mp3
